.about-hero-section {
    background: linear-gradient(270deg, #0000008e, #000000b9), url(https://res.cloudinary.com/dn2xodesd/image/upload/f_auto,q_auto/whllomosotryq3qmdlye);
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat;
}