.home-hero-section {
  background: linear-gradient(270deg, #0000006b, #000000da), url(../../assets/home-bg-img.jpg);
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
}

#name-underline {
  stroke-dasharray: 428;
  animation: .8s fillSvg ease-in;
}

@keyframes fillSvg {
  0% {
    stroke-dashoffset: 428;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.glow {
  /* color: #44ADF8; Your text color */
  text-shadow: 0 0 5px #f0f7fc27, 0 0 10px #000000bb, 0 0 15px #44adf81f, 0 0 20px #04a1dfb9, 0 0 30px #0088ff2f, 0 0 40px #0088ff0e, 0 0 50px #0088ff2a;
}