@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
  --primary:#000419;
  --secondary:#40CFF7;
}

.drawer {
  background: linear-gradient(to top left, var(--primary), #00020ea6, var(--primary)), url(./assets/drawer-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.lg-link>li{
  position: relative;
}

.lg-link>li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: var(--secondary);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in;
}

.lg-link>li:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.home-hero-section{
  background: linear-gradient(270deg, #000419e3, #000207f3), url(./assets/home-bg-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} 

#name-underline {
  stroke-dasharray: 428;
  animation: .8s fillSvg ease-in;
}

@keyframes fillSvg {
  0% {
      stroke-dashoffset: 428;
  }

  100% {
      stroke-dashoffset: 0;
  }
}