@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@layer utilities {
    .bg-radial-gradient {
      background: radial-gradient(circle at center, #0E1E2D 0%, #020411 100%);
      background-color: rgb(7, 11, 20);
      background-attachment: fixed; 
    }
  } */